<nav class ="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">Recipe Tracker</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes" (click)="update()">Recipe</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list" (click)="update()">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/signup">Sign up!</a></li>
          <li><a routerLink="/signin">Sign in</a></li>
        </ng-template>
        <li *ngIf="authService.isAuthenticated()"><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
        <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
          <a class="dropdown-toggle" role="button">Manage <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Saving data</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetching data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

