.container-fluid{
  background-color: #1b4bb3;
}
.navbar-default .navbar-nav>li>a{
  color: white;
}

a{
  color:white;
}
.navbar-default .navbar-brand{
  color: white;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: #112e6f;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: #112e6f;

}

