<div class="row">

  <div class="col-xs-12 col-sm-9 col-md-5 ">
    <form (ngSubmit)="onSignUp(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control"
               required
               pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$">
      </div>
      <div class="form-group">
        <label for="passwordAgain">Re-type password</label>
        <input type="password" id="passwordAgain" name="passwordAgain" ngModel class="form-control"
               required
               pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$">
      </div>
      <div class="alert alert-danger" *ngIf="invalidMatch">
        <strong>Error!</strong> Password's do not match!
      </div>
      <button class="btn btn-success" type="submit" [disabled]="!f.valid">Sign Up!</button>
      <hr>
    </form>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-4">
    <div class="alert alert-warning" role="alert">

      <h4 class="alert-heading">Passwords</h4>
      <p>
        Password must contain 1 number (0-9) <br>
        Password must contain 1 uppercase letters<br>
        Password must contain 1 lowercase letters<br>
        Password must contain 1 non-alpha numeric number<br>
        Password is 8-16 characters with no space<br>
      </p>
    </div>
  </div>
</div>


